{% include 'partials/header.html' %}

		<!-- Start Contact Us -->
		<section class="contact-us section">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6">
							<div class="contact-us-left">
								<!--Start Google-map -->
								<img src="/static/mimg/sr5.png" class="h-100 w-100" alt="#">
								<!--/End Google-map -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="contact-us-form">
								<h2>Appointment Confirmation </h2>
								<p>We Will Let You Know By Sending Text Message Or By Call At Your Number.</p>
								<!-- Form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		{% include 'partials/footer.html' %}
						<!--/ End Form -->